button {
  width: 20px;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  list-style: none;
}
.gallery-image:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease-in-out;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.basicLightbox__placeholder {
}
.sl-overlay {
  background-color: rgba(46, 47, 66, 0.8) !important;
}
